{% extends "base.html" %}

{% block title %} 
    {{ title }} 
{% endblock %} 

{% block content %}
    <h1>Top Películas de los últimos tres años</h1>
    <ul>
        {% for year, title, amount in top_peliculas %}
            <li><b>[{{ year }}] - {{ title }} - {{ amount }}</b></li>
        {% endfor %}
    </ul>
    <div id="search-form">
        <form action={{ url_for('index') }} method="post">
            <p>
                <input type="search" id="titulo" name="titulo" placeholder="Buscar..." value="">
                <select id="category-select" name="category">
                    {% for cat in categories%}
                        <option value={{ cat }}>{{ cat }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Buscar" class="btn element-right">
            </p>
        </form>
    </div>
    <br>
    {% for item in movies %}
        <div class="content-element">
            <a href={{ url_for('detail', movie_id=item.id) }}><img src={{ url_for('static', filename=item.poster) }} alt="poster" class="content-poster"></a>
            <p>{{ item.titulo }}</p>
        </div>
    {% endfor %}
{% endblock %}
