<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'core:home' %}">Home</a></li>
                    <li class="active"><a href="{% url 'core:login' %}">Log-In</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'core:logout' %}">Logout</a></li>
                        <li><a href="{% url 'core:convalidation' %}">Convalidation</a></li>
                        <li><a href="{% url 'core:applypair' %}">Apply Pair</a></li>
                        <li><a href="{% url 'core:breakpair' %}">Break Pair</a></li>
                        <li><a href="{% url 'core:applygroup' %}">Apply Group</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="panel-footer">
            Daniel Mohedano Rodríguez - daniel.mohedano@estudiante.uam.es<br>
            Silvia Sopeña Niecko - silvia.sopenna@estudiante.uam.es
            <br>
        </div>
    </body>
 </html>