{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    {% if error == 1 %}
        <p>Your username and password didn't match. Please try again.</p>
    {% elif error == 3 %}
        <p>Hi <strong>{{ user.first_name }}  {{ user.last_name }}</strong>, you are already logged in.</p>
        <p>Log out if you want to login as another user.</p>
    {% elif error == 0%}
    <p>Please login to access this web site</p>
    <form id="login_form" method="post" action="{% url 'core:login' %}">
        {% csrf_token %}
        {% if error == 1 %}
            <ul>
                <li>
                    Please enter a correct username and password. Note that both fields may be case-sensitive.
                </li>
            </ul>
        {% endif %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
    {% endif %}
{% endblock %}